@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700;800;900&display=swap");
body {
  max-width: 450px;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

#menu {
  z-index: 10;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #000;
  padding: 0 3%;
}
#menu img {
  width: 40px;
  height: 40px;
}

main {
  margin: 54px 0 64px;
  padding: 3%;
}

section {
  margin-bottom: 52px;
}
section h2 {
  margin-bottom: 16px;
  border-left: 8px solid #e29930;
  padding: 8px 16px;
}

.posts {
  column-count: 2;
  column-gap: 12px;
}
.posts li {
  break-inside: avoid;
  margin-bottom: 12px;
  background-color: #eee;
  padding: 6px;
}
.posts li .user {
  margin-bottom: 6px;
}
.posts li .user .name {
  font-size: 20px;
}
.posts li .user .info {
  font-size: 14px;
}
.posts li .content {
  font-weight: bold;
  margin-bottom: 6px;
}
.posts li .meta .reaction {
  font-size: 20px;
}
.posts li .meta .reaction img {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.posts li .meta .time {
  font-size: 14px;
}

#tab {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  border-bottom: 1px solid #000;
}
#tab li {
  width: 33%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding: 12px 0;
}
#tab li.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 60px;
  background-color: #e29930;
}

#pickup li {
  height: 240px;
  position: relative;
}
#pickup li .text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px;
}

#ranking ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#ranking ul li {
  display: flex;
  gap: 20px;
}
#ranking ul li .thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  object-fit: cover;
}
#ranking ul li .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
#ranking ul li .text h3 {
  font-size: 20px;
}
#ranking ul li .text h3 span {
  font-size: 32px;
  margin-right: 12px;
  color: goldenrod;
}
#ranking ul li .text .info span {
  background-color: lightblue;
  padding: 2px 6px;
  border-radius: 6px;
}
#ranking ul li .text .reaction {
  font-size: 20px;
}
#ranking ul li .text .reaction span {
  margin-right: 12px;
}
#ranking ul li .text .reaction span img {
  display: inline-block;
  width: 20px;
  height: 20px;
}

#blog .theme {
  font-size: 20px;
  padding: 16px;
  margin-bottom: 16px;
  text-align: center;
  background-color: lightblue;
  border-radius: 30px;
  font-weight: bold;
}
#blog .theme span {
  font-size: 16px;
  font-weight: normal;
}

#another a {
  display: block;
  padding: 12px;
  border: 1px solid #000;
  margin-bottom: 10px;
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

#page-school {
  margin-top: 0;
}
#page-school #school {
  margin-bottom: 42px;
}
#page-school #school .thumbnail {
  margin-bottom: 12px;
}
#page-school #school h2 {
  font-size: 28px;
  margin-bottom: 12px;
}
#page-school #school .info {
  margin-bottom: 8px;
}
#page-school #school .info span {
  background-color: #e29930;
  padding: 2px 6px;
  border-radius: 6px;
}
#page-school #school .description {
  margin-bottom: 8px;
}
#page-school #school .reaction {
  font-size: 20px;
}
#page-school #school .reaction span {
  margin-right: 12px;
}
#page-school #school .reaction span img {
  display: inline-block;
  width: 20px;
  height: 20px;
}
#page-school #news ul {
  border-top: 1px solid #000;
}
#page-school #news ul li {
  padding: 12px 0;
  border-bottom: 1px solid #000;
}
#page-school #news ul li .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}
#page-school #news ul li .excerpt {
  font-size: 14px;
  margin-bottom: 6px;
}
#page-school #news ul li .meta {
  text-align: right;
}
#page-school #club ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#page-school #club ul li {
  width: 46%;
  margin-bottom: 24px;
  border-bottom: 1px solid #000;
}
#page-school #club ul li h3 {
  margin-bottom: 8px;
}
#page-school #club ul li .reaction {
  font-size: 20px;
}
#page-school #club ul li .reaction span {
  margin-right: 12px;
}
#page-school #club ul li .reaction span img {
  display: inline-block;
  width: 20px;
  height: 20px;
}
#page-school #event ul li {
  padding: 12px 0;
  display: flex;
  align-items: center;
}
#page-school #event ul li .date {
  width: 80px;
  text-align: center;
  padding: 4px 0;
  background-color: lightblue;
  border-radius: 4px;
  font-size: 20px;
  margin-right: 16px;
}
#page-school #event ul li .title {
  font-weight: bold;
}